@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

* {
  transition: transform 0.25s ease-in;
}

@layer components {
  .form-input {
    border: 1px solid #eee;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75rem;
  }

  .form-error {
    margin-left: 0.5rem;
    font-weight: bold;
    color: #700;
  }

  .form-submit-btn {
    width: 100%;
    margin-top: 1.5rem;
    padding: 0.75rem 2rem;
    color: white;
    background-color: black;
    border-radius: 0.5rem;
    font-weight: bold;
  }
}
