@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --red: 185 28 28;
}

:root {
  --bg: 255 255 255;
  --primary: 0 0 0;
  --gray-1: 245 245 245;
  --gray-2: 250 250 250;
  --text: 0 0 0;
  --on-primary: 255 255 255;
}

.theme-dark {
  --bg: 0 0 0;
  --primary: 255 255 255;
  --gray-1: 38 38 38;
  --gray-2: 23 23 23;
  --text: 255 255 255;
  --on-primary: 0 0 0;
}

* {
  transition: transform 0.25s ease-in;
}

html,
body,
#root {
  height: 100%;
  min-height: 100%;
}

body {
  @apply bg-bg text-text;
}

button {
  text-align: start;
}

@layer components {
  .form-input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    @apply border border-gray-1;
  }

  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75rem;
  }

  .form-error {
    margin-left: 0.5rem;
    font-weight: bold;
    color: #700;
  }

  .form-submit-btn {
    width: 100%;
    margin-top: 1.5rem;
    padding: 0.75rem 2rem;
    border-radius: 0.5rem;
    font-weight: bold;
    text-align: center;
    @apply bg-primary text-on-primary;
  }
}
